.CampoMain {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 84.9vh;
    background-image: url("../../../assets/background-Menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 119%;
    overflow: auto;
    filter: brightness(95%);
}

.TextoDeApresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    font-size: 1.2em;
    width: 50%;
    border: 1px solid #7a7a7a;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    font-family: "Edu VIC WA NT Beginner", cursive;
}

.textoPrincipal {
    text-align: justify;
    font-size: 1em;
    line-height: 1.6;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 70%;
    font-family: "Edu VIC WA NT Beginner", cursive;
}

.textLogin {
    font-weight: bold;
    font-family: "Edu VIC WA NT Beginner", cursive;
    color: #0998ff;
    cursor: pointer; 
}

.textLogin:hover {
    text-decoration: underline;
}

.textLogin:active {
    color: #afafaf;
}
