
#modalMain{
  margin-top: 5%;
  margin-left: 30%;
  width: 40%;
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid rgb(102, 102, 102);
  border-radius: 5px;
}

#notFind {
  color: red;
  font-size: 20px;
}

#textMain {
  font-size: 44px;
  text-shadow: 2px 2px 4px rgba(173, 172, 172, 0.8);
  animation: shadowAnimation 3.2s infinite;
}

@keyframes shadowAnimation {
  0% {
      text-shadow: 2px 2px 4px rgba(173, 172, 172, 0.8);
  }
  50% {
      text-shadow: 2px 2px 14px rgba(173, 172, 172, 0.8);
  }
  100% {
      text-shadow: 2px 2px 4px rgba(173, 172, 172, 0.8);
  }
}

#information {
  display: none;
  margin-top: 20px;
  background-color: #e0d8d8;
  border-top: 2px solid rgb(102, 102, 102);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: rgb(29, 29, 29); 
}

#information p {
  font-size: 20px;
  margin-bottom: 2%;
  margin-left: 2%;
}

#listSearch {
  margin-right: 40px;
  width: 80%;
  list-style-type: none;
  display: flex;
  flex-direction: column ;
}
#listSearch li {
  margin-bottom: 5px;
}

#searchAparence {
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  padding: 8px;
  border-radius: 5px;
  background-color: #e0d8d8;
  transition: background-color 0.3s ease;
}
#searchAparence:hover {
  background-color: #e3e3e3;
}

#botoes {
  font-family: "Aladin", system-ui;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction:row;
  margin-bottom: 2%;
  padding-right: 22%;
}

#botoes button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(128, 127, 127);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#botoes button:hover {
  background-color: rgb(102, 102, 102);
}


#spellNamBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgb(102, 102, 102);
}

#spellName{
  font-size: 30px;
}


#textSearch {
  font-size: 30px;
  transition-duration: 0.3s;
}

#textSearch:hover {
  text-shadow: 2px 2px 4px rgba(173, 172, 172, 0.8);
}

#spellSuggestions{
  height: 75px;
  width: 85%;
}

#CampoPesquisa {
  margin-top: 1%;
  margin-bottom: 5%;
  height: 75px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(102, 102, 102);
  border-radius: 10px;
}

#search {
  display: flex;
  height: 30px;
  width: 70%;
  color:aliceblue;
  background-color: rgb(128, 127, 127);
  border: 2px solid transparent; 
  border-radius: 5px;
  transition: border-color 0.3s; /* Transição suave para a cor da borda */
  margin: 10px;
}

/* Efeito de hover */
#search:hover {
  border-color: #ffffff; /* Mudança da cor da borda ao passar o mouse */
}

/* Efeito de foco */
#search:focus {
  outline: none; /* Remove a borda de foco padrão */
  border-color: #ffffff; /* Cor da borda ao focar */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra ao focar */
}

#option {
  font-size: 25px;
  color: white;
}